@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root {
  --color-background: #f5f6fa;
  --color-text: #1f2237;
  --color-primary: #5a00ff;

  --font-size-small: 1.2rem;
  --font-size-details: 1.4rem;
  --font-size-body: 1.6rem;
  --font-size-subtitle: 1.8rem;
  --font-size-title: 2.4rem;
  --font-size-main-title: 4.2rem;

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-body);
  color: var(--color-text);
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--color-background);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

::-moz-selection {
  background: var(--color-text);
  color: var(--color-background);
}

::selection {
  background: var(--color-text);
  color: var(--color-background);
}
